## End - Average (C)

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0, 0,0,0,0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos

    
    ary[0]=15*(fulldata['M1ECC'][xend]-numpy.average(fulldata['M1ECC'][xbegin:xend]))
    if numpy.isnan(ary[0]):
        ary[0]=0
    ary[1]=15*(fulldata['M1UROMC'][xend]-numpy.average(fulldata['M1UROMC'][xbegin:xend]))
    if numpy.isnan(ary[1]):
        ary[1]=0
    ary[2]=15*(fulldata['YDXC'][xend]-numpy.average(fulldata['YDXC'][xbegin:xend]))
    if numpy.isnan(ary[2]):
        ary[2]=0
    ary[3]=15*(fulldata['M1RYC'][xend]-numpy.average(fulldata['M1RYC'][xbegin:xend]))
    if numpy.isnan(ary[3]):
        ary[3]=0
    ary[4]=15*(fulldata['M1RPC'][xend]-numpy.average(fulldata['M1RPC'][xbegin:xend]))
    if numpy.isnan(ary[4]):
        ary[4]=0
    ary[5]=15*(fulldata['M1RFC'][xend]-numpy.average(fulldata['M1RFC'][xbegin:xend]))
    if numpy.isnan(ary[5]):
        ary[5]=0
    
    
    return ary[idx:idx+1]

In [9]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/endavg.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,6.009070,14.838129,0.0,5.747126,17.307692,11.073337,33.571940,18.001244,19.915254,10.580524,0.0,16.865818,0.0,15.867757
feature1,0.000000,24.522293,0.0,0.000000,0.000000,27.659574,30.882353,15.957012,22.347267,43.222004,0.0,11.214953,0.0,16.284890
feature2,27.906977,8.624898,0.0,0.000000,0.000000,42.553191,29.404145,16.822514,13.310894,0.000000,0.0,14.144968,0.0,16.895097
feature3,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.597103,0.000000,26.277372,0.0,0.000000,0.0,15.622244
feature4,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.883210,0.000000,0.000000,0.0,0.000000,0.0,15.326675
feature5,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.751117,0.000000,0.000000,0.0,100.000000,0.0,15.801015

feature2 在class3 準確度可以97%

## SKEW

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0, 0,0,0,0,0,0,0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    skew = stats.skew(fulldata['M1ECC'][xbegin:xend])
    ary[0]=skew*7
    if numpy.isinf(ary[0]) or numpy.isnan(ary[0]):
        ary[0]=0
    skew = stats.skew(fulldata['M1UROMC'][xbegin:xend])
    ary[1]=skew*7
    if numpy.isinf(ary[1]) or numpy.isnan(ary[1]):
        ary[1]=0
    skew = stats.skew(fulldata['YDXC'][xbegin:xend])
    ary[2]=skew*7
    if numpy.isinf(ary[2]) or numpy.isnan(ary[2]):
        ary[2]=0
    skew = stats.skew(fulldata['M1RYC'][xbegin:xend])
    ary[3]=skew*7
    if numpy.isinf(ary[3]) or numpy.isnan(ary[3]):
        ary[3]=0
    skew = stats.skew(fulldata['M1RPC'][xbegin:xend])
    ary[4]=skew*7
    if numpy.isinf(ary[4]) or numpy.isnan(ary[4]):
        ary[4]=0
    skew = stats.skew(fulldata['M1RFC'][xbegin:xend])
    ary[5]=skew*7    
    if numpy.isinf(ary[5]) or numpy.isnan(ary[5]):
        ary[5]=0
    return ary[idx:idx+1]

In [8]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/skew.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,4.645761,3.610108,0.0,1.073620,0.232558,6.604507,14.343708,16.563499,4.132231,9.123163,0.0,7.056893,0.0,11.834672
feature1,1.088435,15.232443,0.0,0.000000,26.590909,11.111111,30.729167,15.080085,13.364486,0.000000,0.0,2.892562,0.0,14.318404
feature2,0.000000,9.566075,0.0,1.853257,0.000000,24.373379,33.017975,23.099947,9.225700,0.000000,0.0,2.573529,0.0,10.809716
feature3,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.185568,0.000000,38.297872,0.0,2.258926,0.0,12.447262
feature4,48.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,17.042582,0.000000,0.000000,0.0,15.384615,0.0,16.511334
feature5,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,21.171886,14.478914,0.000000,0.000000,0.0,5.686013,0.0,12.776202

好像沒有很特別

## Bid/Ask Diff

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0, 0, 0, 0, 0, 0, 0, 0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    intvl = 1 if xend - xbegin <= 0 else xend - xbegin
    ary[0]=numpy.average(numpy.subtract(numpy.array(fulldata['M1ECBID'][xbegin:xend]),numpy.array(fulldata['M1ECASK'][xbegin:xend])))/2
    if numpy.isnan(ary[0]):
        ary[0]=0

    ary[1]=numpy.average(numpy.subtract(numpy.array(fulldata['M1ECBID3'][xbegin:xend]),numpy.array(fulldata['M1ECASK2'][xbegin:xend])))
    if numpy.isnan(ary[1]):
        ary[1]=0
    ary[1]/=3

    ary[2]=numpy.average(numpy.subtract(numpy.array(fulldata['M1ECBID3'][xbegin:xend]),numpy.array(fulldata['M1ECASK3'][xbegin:xend])))
    if numpy.isnan(ary[2]):
        ary[2]=0
    ary[2]/=3

    ary[3]=numpy.average(numpy.subtract(numpy.array(fulldata['M1UROMBID'][xbegin:xend]),numpy.array(fulldata['M1UROMASK'][xbegin:xend])))
    if numpy.isnan(ary[3]):
        ary[3]=0
    ary[4]=numpy.average(numpy.subtract(numpy.array(fulldata['M1UROMBID2'][xbegin:xend]),numpy.array(fulldata['M1UROMASK2'][xbegin:xend])))
    if numpy.isnan(ary[4]):
        ary[4]=0
    ary[5]=numpy.average(numpy.subtract(numpy.array(fulldata['M1UROMBID3'][xbegin:xend]),numpy.array(fulldata['M1UROMASK3'][xbegin:xend])))/2
    if numpy.isnan(ary[5]):
        ary[5]=0
    ary[6]=numpy.average(numpy.subtract(numpy.array(fulldata['YDXBID'][xbegin:xend]),numpy.array(fulldata['YDXASK'][xbegin:xend])))/4
    if numpy.isnan(ary[6]):
        ary[6]=0
    ary[7]=numpy.average(numpy.subtract(numpy.array(fulldata['YDXBID2'][xbegin:xend]),numpy.array(fulldata['YDXASK2'][xbegin:xend])))/7
    if numpy.isnan(ary[7]):
        ary[7]=0
    ary[8]=numpy.average(numpy.subtract(numpy.array(fulldata['YDXBID3'][xbegin:xend]),numpy.array(fulldata['YDXASK3'][xbegin:xend])))/7
    if numpy.isnan(ary[8]):
        ary[8]=0
    return ary[idx:idx+1]

In [10]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/bidaskdiff.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,0.843882,10.500695,0.0,5.667752,9.279368,11.034483,17.350070,14.881073,6.354167,8.173077,5.107004,9.834015,0.0,9.019617
feature1,0.000000,2.917153,0.0,1.919123,10.131332,8.978964,16.410309,15.919692,8.805419,3.211418,3.865653,12.405214,0.0,11.090983
feature2,0.341297,6.542882,0.0,2.178533,0.577201,7.375887,17.787286,14.737654,7.424442,8.502773,1.200282,11.101368,0.0,7.973208
feature3,0.884956,16.718588,0.0,4.006475,2.131783,24.119029,17.740864,18.879932,9.424242,20.557491,2.397260,10.870765,0.0,10.471242
feature4,18.497110,11.068884,0.0,3.762586,0.895680,7.476140,13.603148,18.392879,4.755166,0.000000,0.000000,11.753505,0.0,8.185350
feature5,7.594937,13.291925,0.0,1.022495,6.427221,4.055317,12.795126,21.321478,6.198280,6.201550,2.707276,11.766823,0.0,8.771721
feature6,0.840336,3.383897,0.0,5.207329,15.408805,12.363636,17.401764,13.300770,8.377519,0.000000,1.408451,8.679327,0.0,7.951756
feature7,0.000000,7.250342,0.0,1.744186,7.865169,3.671329,13.642384,18.034751,5.204945,0.000000,2.144772,7.401560,0.0,7.267657
feature8,2.409639,4.890388,0.0,0.480480,0.420168,6.637807,22.937114,17.037229,10.611855,0.000000,15.428571,7.418133,0.0,8.318833

## Volume Imbalance

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0, 0, 0, 0, 0, 0, 0, 0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    intvl = 1 if xend - xbegin <= 0 else xend - xbegin

    for i in range(xbegin, xend):
        if fulldata['M1ECBID'][i] - fulldata['M1ECASK'][i] >= 15:
            ary[0] += 1
        if fulldata['M1ECBID2'][i] - fulldata['M1ECBID'][i] >= 15:
            ary[1] += 1
        if fulldata['M1ECBID3'][i] - fulldata['M1ECBID2'][i] >= 15:
            ary[2] += 1
        if fulldata['YDXBID'][i] - fulldata['YDXASK'][i] >= 15:
            ary[3] += 1
        if fulldata['YDXBID2'][i] - fulldata['YDXBID'][i] >= 15:
            ary[4] += 1
        if fulldata['YDXBID3'][i] - fulldata['YDXBID2'][i] >= 15:
            ary[5] += 1
        if fulldata['M1ECASK2'][i] - fulldata['M1ECASK'][i] >= 15:
            ary[6] += 1
        if fulldata['M1ECASK3'][i] - fulldata['M1ECASK2'][i] >= 15:
            ary[7] += 1
    ary[0]/=4
    ary[1]/=4
    ary[2]/=4
    ary[3]/=4
    ary[4]/=4
    ary[5]/=4
    ary[6]/=4
    ary[7]/=4
    return ary

In [12]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/volimb.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,0.0,9.709480,0.0,0.000000,2.469136,3.236246,15.191680,11.823987,18.679775,0.00000,0.000000,11.926606,0.0,8.638238
feature1,0.0,2.956522,0.0,1.349528,7.246377,17.167382,18.155071,15.606017,19.008264,15.36643,0.000000,12.869938,0.0,10.259099
feature2,0.0,0.591366,0.0,0.293255,0.000000,0.000000,18.416988,14.361702,5.889282,0.00000,0.000000,12.443536,0.0,8.724048
feature3,0.0,0.583090,0.0,0.000000,5.882353,25.301205,21.577262,16.829985,6.442308,0.00000,0.000000,10.418188,0.0,9.577384
feature4,0.0,0.000000,0.0,0.000000,0.000000,0.000000,14.858662,12.123131,15.914725,0.00000,10.257848,10.354712,0.0,8.623936
feature5,0.0,0.723589,0.0,0.676590,16.949153,21.739130,18.996490,12.840957,27.333333,0.00000,1.599391,11.076693,0.0,9.217458
feature6,0.0,0.725163,0.0,0.000000,0.000000,39.473684,17.660985,17.854179,6.000000,0.00000,0.000000,12.833599,0.0,9.968298
feature7,0.0,0.837521,0.0,0.000000,0.000000,28.099174,15.314231,12.751829,23.360354,0.00000,0.000000,12.073491,0.0,9.279432
feature8,0.0,1.990632,0.0,0.000000,0.000000,14.925373,15.779131,13.728739,14.482759,0.00000,0.000000,14.073171,0.0,9.598837

## BID Volume * Price

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0, 0, 0, 0, 0, 0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    intvl = 1 if xend - xbegin <= 0 else xend - xbegin
    ary[0] =(fulldata['M1ECASK'][xend]* (fulldata['M1ECSP2'][xend]-fulldata['M1ECSP'][xend]))/3
    ary[1] =(fulldata['M1ECBID'][xend]* (fulldata['M1ECBP2'][xend]-fulldata['M1ECBP'][xend]))/3
    ary[2] =(fulldata['M1ECASK2'][xend]* (fulldata['M1ECSP3'][xend]-fulldata['M1ECSP2'][xend]))/3
    ary[3] =(fulldata['M1ECBID2'][xend]* (fulldata['M1ECBP3'][xend]-fulldata['M1ECBP2'][xend]))/3
    ary[4] =(fulldata['YDXASK'][xend]* (fulldata['YDXSP2'][xend]-fulldata['YDXSP'][xend]))/3
    ary[5] =(fulldata['YDXBID'][xend]* (fulldata['YDXBP2'][xend]-fulldata['YDXBP'][xend]))/3
    ary[6] =(fulldata['YDXBID2'][xend]* (fulldata['YDXBP3'][xend]-fulldata['YDXBP2'][xend]))/3

    return ary

In [14]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/bidvolprice.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,0.0,2.352941,0.0,14.088050,0.0,25.684932,22.435513,15.416386,17.993080,0.0,0.000000,7.135271,0.0,8.890902
feature1,0.0,0.000000,0.0,0.000000,0.0,38.986355,16.812749,19.899944,14.836795,0.0,0.000000,8.246277,0.0,9.722785
feature2,0.0,5.185185,0.0,0.000000,0.0,4.411765,16.646635,14.382523,1.408451,0.0,0.453368,8.168938,0.0,8.085238
feature3,0.0,0.000000,0.0,37.113402,0.0,35.937500,33.743951,14.073190,6.281407,0.0,0.000000,8.990585,0.0,10.905060
feature4,0.0,47.368421,0.0,9.589041,0.0,44.341085,21.160410,17.918897,1.785714,0.0,0.000000,9.510391,0.0,10.552285
feature5,0.0,1.742919,0.0,0.000000,0.0,45.263158,37.428337,15.495913,0.000000,0.0,0.000000,7.152146,0.0,9.970681
feature6,0.0,5.882353,0.0,21.492537,0.0,41.425390,14.232558,17.207487,0.000000,0.0,1.020408,7.786602,0.0,10.044574

## STD (C)

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0, 0,0,0,0,0,0,0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    skew = numpy.std(fulldata['M1ECC'][xbegin:xend])
    ary[0]=skew*7
    if numpy.isinf(ary[0]) or numpy.isnan(ary[0]):
        ary[0]=0
    skew = numpy.std(fulldata['M1UROMC'][xbegin:xend])
    ary[1]=skew*7
    if numpy.isinf(ary[1]) or numpy.isnan(ary[1]):
        ary[1]=0
    skew = numpy.std(fulldata['YDXC'][xbegin:xend])
    ary[2]=skew*7
    if numpy.isinf(ary[2]) or numpy.isnan(ary[2]):
        ary[2]=0
    skew = numpy.std(fulldata['M1RYC'][xbegin:xend])
    ary[3]=skew*7
    if numpy.isinf(ary[3]) or numpy.isnan(ary[3]):
        ary[3]=0
    skew = numpy.std(fulldata['M1RPC'][xbegin:xend])
    ary[4]=skew*7
    if numpy.isinf(ary[4]) or numpy.isnan(ary[4]):
        ary[4]=0
    skew = numpy.std(fulldata['M1RFC'][xbegin:xend])
    ary[5]=skew*7    
    if numpy.isinf(ary[5]) or numpy.isnan(ary[5]):
        ary[5]=0
    return ary[idx:idx+1]

In [15]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/std.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,2.606516,6.382979,0.0,0.863558,0.179937,5.349248,26.777251,16.314107,12.877583,6.04309,0.0,6.759819,0.0,11.400853
feature1,0.143678,20.541205,0.0,0.000000,0.000000,1.801802,26.378539,15.077743,11.369509,0.00000,0.0,2.313167,0.0,14.337473
feature2,0.000000,10.606061,0.0,11.111111,0.000000,11.976048,20.973154,16.732471,0.000000,0.00000,0.0,4.545455,0.0,15.655615
feature3,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.708989,0.000000,0.00000,0.0,0.000000,0.0,15.450623
feature4,0.000000,4.516129,0.0,0.000000,0.000000,0.000000,0.000000,15.993796,0.000000,0.00000,0.0,0.000000,0.0,15.536434
feature5,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.804363,0.000000,0.00000,0.0,25.102881,0.0,15.858222

## Min Max (C)

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0, 0,0,0,0,0,0,0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    if len(fulldata['M1ECC'][xbegin:xend])>0:
        max1=max(fulldata['M1ECC'][xbegin:xend])
        min1=min(fulldata['M1ECC'][xbegin:xend])
        if max1!=0 and min1!=0:
            ary[0]=max1-min1
    if len(fulldata['M1UROMC'][xbegin:xend])>0:
        max1=max(fulldata['M1UROMC'][xbegin:xend])
        min1=min(fulldata['M1UROMC'][xbegin:xend])
        if max1!=0 and min1!=0:
            ary[1]=max1-min1
    if len(fulldata['YDXC'][xbegin:xend])>0:
        max1=max(fulldata['YDXC'][xbegin:xend])
        min1=min(fulldata['YDXC'][xbegin:xend])
        if max1!=0 and min1!=0:
            ary[2]=max1-min1
    if len(fulldata['M1RYC'][xbegin:xend])>0:
        max1=max(fulldata['M1RYC'][xbegin:xend])
        min1=min(fulldata['M1RYC'][xbegin:xend])
        if max1!=0 and min1!=0:
            ary[3]=max1-min1
    if len(fulldata['M1RPC'][xbegin:xend])>0:
        max1=max(fulldata['M1RPC'][xbegin:xend])
        min1=min(fulldata['M1RPC'][xbegin:xend])
        if max1!=0 and min1!=0:
            ary[4]=max1-min1
    if len(fulldata['M1RFC'][xbegin:xend])>0:
        max1=max(fulldata['M1RFC'][xbegin:xend])
        min1=min(fulldata['M1RFC'][xbegin:xend])
        if max1!=0 and min1!=0:
            ary[5]=max1-min1
    return ary[idx:idx+1]

In [16]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/minmax.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,0.0,9.109731,0.0,0.0,0.0,0.000000,23.712276,16.617770,0.0,3.231703,0.0,4.132231,0.0,11.827521
feature1,0.0,10.736945,0.0,0.0,0.0,0.000000,0.000000,15.647102,0.0,0.000000,0.0,0.000000,0.0,14.656878
feature2,0.0,0.000000,0.0,0.0,0.0,13.333333,0.000000,16.206828,0.0,0.000000,0.0,0.000000,0.0,15.722356
feature3,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,15.709369,0.0,0.000000,0.0,0.000000,0.0,15.450623
feature4,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,15.775408,0.0,0.000000,0.0,0.000000,0.0,15.617477
feature5,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,15.804384,0.0,0.000000,0.0,27.000000,0.0,15.884442
feature6,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,15.712821,0.0,0.000000,0.0,0.000000,0.0,15.712821
feature7,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,15.712821,0.0,0.000000,0.0,0.000000,0.0,15.712821

## AVG Diff

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0,0,0,0,0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    if len(fulldata['M1ECC'][xbegin:xend])>0:
        ary[0]=numpy.average(fulldata['M1ECC'][xbegin:xend])-numpy.average(fulldata['M1ECBP'][xbegin:xend])
        ary[0]/=3
    if len(fulldata['YDXC'][xbegin:xend])>0:
        ary[1]=numpy.average(fulldata['YDXC'][xbegin:xend])-numpy.average(fulldata['YDXBP'][xbegin:xend])
        ary[1]/=3
    if len(fulldata['M1UROMC'][xbegin:xend])>0:
        ary[2]=numpy.average(fulldata['M1UROMC'][xbegin:xend])-numpy.average(fulldata['M1UROMBP'][xbegin:xend])
        ary[2]/=3
    if len(fulldata['M1RYC'][xbegin:xend])>0:
        ary[3]=numpy.average(fulldata['M1RYC'][xbegin:xend])-fulldata['M1RYC'][xbegin]
        ary[3]/=3
    if len(fulldata['M1RPC'][xbegin:xend])>0:
        ary[4]=numpy.average(fulldata['M1RPC'][xbegin:xend])-fulldata['M1RPC'][xbegin]
        ary[4]/=3
    if len(fulldata['M1RFC'][xbegin:xend])>0:
        ary[5]=numpy.average(fulldata['M1RFC'][xbegin:xend])-fulldata['M1RFC'][xbegin]
        ary[5]/=3

    return ary[idx:idx+1]

In [17]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/avgdiff.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,1.935484,21.698787,0.0,12.660550,0.345821,10.071372,20.512480,18.197469,7.687793,7.478632,0.00000,27.415330,0.0,13.608085
feature1,0.000000,1.137749,0.0,7.420495,0.000000,8.602151,15.488432,20.425030,19.968102,0.000000,1.31209,11.823139,0.0,9.656044
feature2,0.000000,0.000000,0.0,7.860697,0.963206,4.283604,22.100942,18.889416,25.117082,14.173228,34.90566,6.454343,0.0,12.342383
feature3,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.761053,0.000000,91.139241,0.00000,0.000000,0.0,16.442209
feature4,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.839255,0.000000,0.000000,0.00000,0.000000,0.0,15.248016
feature5,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.747731,0.000000,0.000000,0.00000,59.550562,0.0,15.839153

## price diff

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0,0,0,0,0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    ary[0]=fulldata['M1ECSP'][xend]-fulldata['M1ECBP'][xbegin]
    ary[0]/=2
    ary[1]=fulldata['M1UROMSP'][xend]-fulldata['M1UROMBP'][xbegin]
    ary[1]/=2
    ary[2]=fulldata['YDXSP'][xend]-fulldata['YDXBP'][xbegin]
    ary[2]/=2
    ary[3]=fulldata['M1RYC'][xend]-fulldata['M1RYC'][xbegin]
    ary[3]/=2
    ary[4]=fulldata['M1RPC'][xend]-fulldata['M1RPC'][xbegin]
    ary[4]/=2
    ary[5]=fulldata['M1RFC'][xend]-fulldata['M1RFC'][xbegin]
    ary[5]/=2

    return ary[idx:idx+1]

In [18]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/pricediff.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,3.836582,16.307404,0.0,0.000000,0.0,0.000000,0.000000,18.798151,9.098294,0.0,0.0,8.325636,0.0,7.594213
feature1,0.000000,0.000000,0.0,8.053167,0.0,21.561210,0.000000,18.533718,0.000000,0.0,0.0,2.912621,0.0,11.362715
feature2,0.000000,0.000000,0.0,0.000000,0.0,10.222222,41.148923,17.405956,9.269904,0.0,0.0,0.000000,0.0,12.180297
feature3,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,15.558169,0.000000,0.0,0.0,0.000000,0.0,15.450623
feature4,50.446999,0.000000,0.0,0.000000,0.0,0.000000,0.000000,15.839255,0.000000,0.0,0.0,0.000000,0.0,17.131075
feature5,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,15.758648,0.000000,0.0,0.0,0.000000,0.0,15.712821

## Pattern (C)

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0,0,0,0,0,0,0,0,0,0,0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    ary[0]=upcount(fulldata['M1ECBP'][xbegin:xend])
    ary[1]=downcount(fulldata['M1ECBP'][xbegin:xend])
    ary[2]=upcount(fulldata['M1UROMC'][xbegin:xend])
    ary[3]=downcount(fulldata['M1UROMC'][xbegin:xend])
    ary[4]=upcount(fulldata['YDXC'][xbegin:xend])
    ary[5]=downcount(fulldata['YDXC'][xbegin:xend])
    ary[6]=upcount(fulldata['M1RYC'][xbegin:xend])
    ary[7]=downcount(fulldata['M1RYC'][xbegin:xend])
    ary[8]=upcount(fulldata['M1RPC'][xbegin:xend])
    ary[9]=downcount(fulldata['M1RPC'][xbegin:xend])
    ary[10]=upcount(fulldata['M1RFC'][xbegin:xend])
    ary[11]=downcount(fulldata['M1RFC'][xbegin:xend])

    return ary[idx:idx+1]

In [21]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/pattern.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,0.000000,0.0,0.0,0.0,0.0,0.000000,21.779954,20.463193,0.000000,0.000000,0.0,0.0,0.0,21.478798
feature1,0.000000,0.0,0.0,0.0,0.0,0.000000,22.866704,17.641806,0.000000,0.000000,0.0,0.0,0.0,12.585512
feature2,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,14.220569,15.481481,0.000000,0.0,0.0,0.0,14.301719
feature3,4.465178,0.0,0.0,0.0,0.0,0.000000,0.000000,16.697474,0.000000,0.000000,0.0,0.0,0.0,15.822468
feature4,0.000000,0.0,0.0,0.0,0.0,65.546218,41.290470,16.924036,0.000000,0.000000,0.0,0.0,0.0,20.136820
feature5,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,15.913973,0.000000,0.000000,0.0,0.0,0.0,15.457774
feature6,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,15.514229,0.000000,0.000000,0.0,0.0,0.0,15.450623
feature7,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,15.970600,0.000000,41.618497,0.0,0.0,0.0,16.499416
feature8,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,15.712821,0.000000,0.000000,0.0,0.0,0.0,15.712821
feature9,50.847458,0.0,0.0,0.0,0.0,0.000000,0.000000,15.853930,0.000000,0.000000,0.0,0.0,0.0,17.133459
feature10,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,16.099550,0.000000,0.000000,0.0,0.0,0.0,15.619860
feature11,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,15.758271,0.000000,0.000000,0.0,0.0,0.0,15.712821

## Slope

In [ ]:
def feature_extraction2(fulldata,shiftpos,beginpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
    #shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=beginpos
    xend=shiftpos
    if xend-xbegin <=0:
        return ary[idx*3:(idx+1)*3]
    slope, intercept, r_value, p_value, std_err = stats.linregress(range(xend-xbegin),fulldata['M1ECBP'][xbegin:xend])
    ary[0]=slope
    if numpy.isinf(ary[0]) or numpy.isnan(ary[0]):
        ary[0]=0
    ary[1]=r_value
    if numpy.isinf(ary[1]) or numpy.isnan(ary[1]):
        ary[1]=0
    ary[2]=p_value
    if numpy.isinf(ary[2]) or numpy.isnan(ary[2]):
        ary[2]=0
    slope, intercept, r_value, p_value, std_err = stats.linregress(range(xend-xbegin),fulldata['M1ECSP'][xbegin:xend])
    ary[3]=slope
    if numpy.isinf(ary[3])  or numpy.isnan(ary[3]):
        ary[3]=0
    ary[4]=r_value
    if numpy.isinf(ary[4]) or numpy.isnan(ary[4]):
        ary[4]=0
    ary[5]=p_value
    if numpy.isinf(ary[5]) or numpy.isnan(ary[5]):
        ary[5]=0

    slope, intercept, r_value, p_value, std_err = stats.linregress(range(xend-xbegin),fulldata['M1UROMC'][xbegin:xend])
    ary[6]=slope
    if numpy.isinf(ary[6])  or numpy.isnan(ary[6]):
        ary[6]=0
    ary[7]=r_value
    if numpy.isinf(ary[7]) or numpy.isnan(ary[7]):
        ary[7]=0

    ary[8]=p_value
    if numpy.isinf(ary[8]) or numpy.isnan(ary[8]):
        ary[8]=0

    slope, intercept, r_value, p_value, std_err = stats.linregress(range(xend-xbegin),fulldata['YDXC'][xbegin:xend])
    ary[9]=slope
    if numpy.isinf(ary[9])  or numpy.isnan(ary[9]):
        ary[9]=0
    ary[10]=r_value
    if numpy.isinf(ary[10]) or numpy.isnan(ary[10]):
        ary[10]=0

    ary[11]=p_value
    if numpy.isinf(ary[11]) or numpy.isnan(ary[11]):
        ary[11]=0

    slope, intercept, r_value, p_value, std_err = stats.linregress(range(xend-xbegin),fulldata['M1RYC'][xbegin:xend])
    ary[12]=slope
    if numpy.isinf(ary[12])  or numpy.isnan(ary[12]):
        ary[12]=0
    ary[13]=r_value
    if numpy.isinf(ary[13]) or numpy.isnan(ary[13]):
        ary[13]=0
    ary[14]=p_value
    if numpy.isinf(ary[14]) or numpy.isnan(ary[14]):
        ary[14]=0
    slope, intercept, r_value, p_value, std_err = stats.linregress(range(xend-xbegin),fulldata['M1RPC'][xbegin:xend])
    ary[15]=slope
    if numpy.isinf(ary[15])  or numpy.isnan(ary[15]):
        ary[15]=0
    ary[16]=r_value
    if numpy.isinf(ary[16]) or numpy.isnan(ary[16]):
        ary[16]=0
    ary[17]=p_value
    if numpy.isinf(ary[17]) or numpy.isnan(ary[17]):
        ary[17]=0

    slope, intercept, r_value, p_value, std_err = stats.linregress(range(xend-xbegin),fulldata['M1RFC'][xbegin:xend])
    ary[18]=slope
    if numpy.isinf(ary[18])  or numpy.isnan(ary[18]):
        ary[18]=0
    ary[19]=r_value
    if numpy.isinf(ary[19]) or numpy.isnan(ary[19]):
        ary[19]=0

    ary[20]=p_value
    if numpy.isinf(ary[20]) or numpy.isnan(ary[20]):
        ary[20]=0

    return ary[3*idx:(idx+1)*3]
#    return ary

In [22]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/slope.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,class11,class12,Avg
feature0,2.083333,8.786232,0.0,1.436993,4.694168,11.175115,21.644444,21.186214,3.370787,4.081633,1.197605,10.271772,0.0,9.248445
feature1,0.711744,14.243759,0.0,9.821690,6.340058,12.797619,22.813382,19.666365,4.564565,12.278630,0.000000,8.795963,0.0,13.789240
feature2,0.664452,41.645885,0.0,0.000000,0.000000,3.784404,42.758621,15.212066,23.265896,0.000000,0.000000,9.562842,0.0,14.678331
feature3,15.859031,10.348210,0.0,10.197368,0.000000,31.682390,15.451389,17.086038,15.298886,0.000000,0.000000,8.016304,0.0,16.289657
feature4,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.603874,0.000000,63.716814,0.000000,0.000000,0.0,15.686602
feature5,50.847458,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.853930,0.000000,0.000000,0.000000,0.000000,0.0,17.133459
feature6,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,15.733448,0.000000,0.000000,0.000000,0.000000,0.0,15.712821

## shadow

In [ ]:
def feature_extraction999(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0,0,0,0,0,0,0,0,0,0,0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    if xend-xbegin <=0:
        return ary[idx:idx+1]
    ary[0]=lowershadow(fulldata['M1ECC'][xbegin:xend])
    ary[1]=uppershadow(fulldata['M1ECC'][xbegin:xend])
    ary[2]=lowershadow(fulldata['M1UROMC'][xbegin:xend])
    ary[3]=uppershadow(fulldata['M1UROMC'][xbegin:xend])
    ary[4]=lowershadow(fulldata['YDXC'][xbegin:xend])
    ary[5]=uppershadow(fulldata['YDXC'][xbegin:xend])
    ary[6]=lowershadow(fulldata['M1RYC'][xbegin:xend])
    ary[7]=uppershadow(fulldata['M1RYC'][xbegin:xend])
    ary[8]=lowershadow(fulldata['M1RPC'][xbegin:xend])
    ary[9]=uppershadow(fulldata['M1RPC'][xbegin:xend])
    ary[10]=lowershadow(fulldata['M1RFC'][xbegin:xend])
    ary[11]=uppershadow(fulldata['M1RFC'][xbegin:xend])
    return ary[idx:idx+1]

In [136]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/shadow.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,Avg
feature0,0.000000,15.839641,0.0,6.872852,0.0,0.0,14.207525,0.000000,0.0,0.0,0.0,14.330499
feature1,0.660066,0.000000,0.0,0.000000,0.0,0.0,13.890573,0.000000,0.0,0.0,0.0,13.756878
feature2,0.000000,0.000000,0.0,0.000000,0.0,0.0,14.259610,0.000000,0.0,0.0,0.0,13.793563
feature3,0.000000,0.000000,0.0,0.000000,0.0,0.0,13.956978,0.000000,0.0,0.0,0.0,13.956978
feature4,0.000000,0.000000,0.0,0.000000,0.0,0.0,14.280839,0.000000,0.0,0.0,0.0,13.956978
feature5,0.000000,0.000000,0.0,0.000000,0.0,0.0,13.963498,0.000000,0.0,0.0,0.0,13.956978
feature6,0.000000,0.000000,0.0,0.000000,0.0,0.0,13.606474,18.181818,0.0,0.0,0.0,13.656828
feature7,0.000000,0.000000,0.0,0.000000,0.0,0.0,13.956978,0.000000,0.0,0.0,0.0,13.956978
feature8,0.000000,0.000000,0.0,0.000000,0.0,0.0,13.929766,0.000000,0.0,0.0,0.0,13.890278
feature9,0.000000,0.000000,0.0,0.000000,0.0,0.0,13.956978,0.000000,0.0,0.0,0.0,13.956978
feature10,0.000000,0.000000,0.0,0.000000,0.0,0.0,13.967713,90.909091,0.0,0.0,0.0,14.137069
feature11,0.000000,0.000000,0.0,0.000000,0.0,0.0,13.956978,0.000000,0.0,0.0,0.0,13.956978

## End-minmax

In [ ]:
def feature_extraction2(fulldata,shiftpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0,0,0,0,0,0,0,0,0,0,0]
    shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=shiftbegin
    xend=shiftpos
    if xend-xbegin <=0:
        return ary[idx:idx+1]
    ary[0]=fulldata['M1ECC'][xend]-max(fulldata['M1ECC'][xbegin:xend])
    ary[1]=fulldata['M1ECC'][xend]-min(fulldata['M1ECC'][xbegin:xend])
    ary[2]=fulldata['YDXC'][xend]-max(fulldata['YDXC'][xbegin:xend])
    ary[3]=fulldata['YDXC'][xend]-min(fulldata['YDXC'][xbegin:xend])
    ary[4]=fulldata['M1UROMC'][xend]-max(fulldata['M1UROMC'][xbegin:xend])
    ary[5]=fulldata['M1UROMC'][xend]-min(fulldata['M1UROMC'][xbegin:xend])
    ary[6]=fulldata['M1RYC'][xend]-max(fulldata['M1RYC'][xbegin:xend])
    ary[7]=fulldata['M1RYC'][xend]-min(fulldata['M1RYC'][xbegin:xend])
    ary[8]=fulldata['M1RPC'][xend]-max(fulldata['M1RPC'][xbegin:xend])
    ary[9]=fulldata['M1RPC'][xend]-min(fulldata['M1RPC'][xbegin:xend])
    ary[10]=fulldata['M1RFC'][xend]-max(fulldata['M1RFC'][xbegin:xend])
    ary[11]=fulldata['M1RFC'][xend]-min(fulldata['M1RFC'][xbegin:xend])

    return ary[idx:idx+1]

In [132]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval/curminmax.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,Avg
feature0,0.0,0.000000,0.0,1.538462,0.0,25.966851,14.077818,0.000000,0.0,0.0,0.000000,14.013674
feature1,0.0,13.114754,0.0,0.000000,0.0,0.000000,14.282200,21.158129,0.0,0.0,0.000000,14.583959
feature2,0.0,0.000000,0.0,0.000000,0.0,0.000000,14.863089,33.991228,0.0,0.0,0.000000,16.024679
feature3,0.0,0.000000,0.0,0.000000,0.0,0.000000,14.058249,0.000000,0.0,0.0,8.333333,13.983658
feature4,0.0,0.000000,0.0,0.000000,0.0,0.000000,14.002566,0.000000,0.0,0.0,0.000000,13.830248
feature5,0.0,0.000000,0.0,0.000000,0.0,0.000000,14.045513,0.000000,0.0,0.0,0.000000,13.873603
feature6,0.0,0.000000,0.0,0.000000,0.0,0.000000,13.956978,0.000000,0.0,0.0,0.000000,13.956978
feature7,0.0,0.000000,0.0,0.000000,0.0,0.000000,13.606474,18.181818,0.0,0.0,0.000000,13.656828
feature8,0.0,64.285714,0.0,0.000000,0.0,0.000000,13.950152,0.000000,0.0,0.0,0.000000,13.973653
feature9,0.0,0.000000,0.0,0.000000,0.0,0.000000,13.915923,0.000000,0.0,0.0,0.000000,13.876938
feature10,0.0,0.000000,0.0,0.000000,0.0,0.000000,13.979213,100.000000,0.0,0.0,0.000000,14.150409
feature11,0.0,0.000000,0.0,0.000000,0.0,0.000000,13.934016,0.000000,0.0,0.0,0.000000,13.930298

## MA

In [ ]:
def feature_extraction2(fulldata,shiftpos,beginpos):
    global idx
    if shiftpos < 0:
        return None
    ary = [0, 0,0,0,0,0,0,0,0,0]
    #shiftbegin = 0 if shiftpos - 90 < 0 else shiftpos - 90
    xbegin=beginpos
    xend=shiftpos
    if xend-xbegin <=0:
        return ary[idx:(idx+1)]

    d=(pandas.rolling_mean(pandas.Series(fulldata['M1ECBP'][xbegin:xend]),29).subtract(  pandas.rolling_mean(pandas.Series(fulldata['M1ECBP'][xbegin:xend]),13) ))
    ary[0]=d.max()
    if numpy.isnan(ary[0]):
        ary[0]=0
    ary[1]=d.min()
    if numpy.isnan(ary[1]):
        ary[1]=0
    d=(pandas.rolling_mean(pandas.Series(fulldata['M1ECC'][xbegin:xend]),29).subtract(  pandas.rolling_mean(pandas.Series(fulldata['M1ECC'][xbegin:xend]),13) ))
    ary[2]=d.max()
    if numpy.isnan(ary[2]):
        ary[2]=0
    ary[3]=d.min()
    if numpy.isnan(ary[3]):
        ary[3]=0
    d=(pandas.rolling_mean(pandas.Series(fulldata['M1ECSP'][xbegin:xend]),29).subtract(  pandas.rolling_mean(pandas.Series(fulldata['M1ECSP'][xbegin:xend]),13) ))
    ary[4]=d.max()
    if numpy.isnan(ary[4]):
        ary[4]=0
    ary[5]=d.min()
    if numpy.isnan(ary[5]):
        ary[5]=0
    d=(pandas.rolling_mean(pandas.Series(fulldata['YDXSP'][xbegin:xend]),29).subtract(  pandas.rolling_mean(pandas.Series(fulldata['YDXSP'][xbegin:xend]),13) ))
    ary[6]=d.max()
    if numpy.isnan(ary[6]):
        ary[6]=0
    ary[7]=d.min()
    if numpy.isnan(ary[7]):
        ary[7]=0
    d=(pandas.rolling_mean(pandas.Series(fulldata['YDXBP'][xbegin:xend]),29).subtract(  pandas.rolling_mean(pandas.Series(fulldata['YDXBP'][xbegin:xend]),13) ))
    ary[8]=d.max()
    if numpy.isnan(ary[8]):
        ary[8]=0
    ary[9]=d.min()
    if numpy.isnan(ary[9]):
        ary[9]=0


#    print(pandas.rolling_mean(pandas.Series(fulldata['M1ECBP'][xbegin:xend]),9))
#    print(pandas.rolling_mean(pandas.Series(fulldata['M1ECBP'][xbegin:xend]),7))
    
#    ary[0]=pandas.ewma(pandas.Series(fulldata['M1ECBP'][xbegin:xend]),span=9)-pandas.ewma(pandas.Series(fulldata['M1ECBP'][xbegin:xend]),span=7)
#    ary[1]=pandas.ewma(pandas.Series(fulldata['M1ECSP'][xbegin:xend]),span=9)-pandas.ewma(pandas.Series(fulldata['M1ECSP'][xbegin:xend]),span=7)

    return ary[idx:(idx+1)]
#    return ary

In [148]:
import pickle
import pandas as pd
import numpy
eval_ary = pickle.load(open('C:/Users/jewei/workspace/forextools/dataset/eval.pkl' , "rb"))
ary=[]
for i in range(0,len(eval_ary) ):
    ary.append( numpy.concatenate(    (numpy.multiply(eval_ary[i][2],100), [eval_ary[i][4]/eval_ary[i][3]*100])     ))
columns=['class'+i for i in map(str, range(len(eval_ary[0][0]))) ]
columns.append('Avg')
print ("Prediction Accuracy with Various Features:")
pd.DataFrame(ary,columns=columns,index=['feature'+i for i in map(str,range(len(eval_ary)))])

Prediction Accuracy with Various Features:

,class0,class1,class2,class3,class4,class5,class6,class7,class8,class9,class10,Avg
feature0,0.0,10.869565,0.0,0.0,0.0,4.632588,13.0987,53.365385,0.0,0.0,0.0,12.793063